<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Anime kita - nordjyllands forening for japansk populærkultur</title>
		<link rel="shortcut icon" href="http://www.anime-kita.dk/static/selvbetjening/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="http://www.anime-kita.dk/static/selvbetjening/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="http://www.anime-kita.dk/static/selvbetjening/css/base.css" />
        <link rel="stylesheet" type="text/css" href="http://www.anime-kita.dk/static/selvbetjening/css/cms.css" />
    </head>

<body>
	<div id="wrapper">
		<div id="topNavBg"></div>
		<div id="top">
			<a href="http://www.anime-kita.dk"><img id="topLogo" src="http://www.anime-kita.dk/static/selvbetjening/graphics/toplogo.png" alt="Anime Kita logo" /></a>
			<div id="topNavBgFade"></div>
			<ul id="topNav">
				<li><a href="http://www.anime-kita.dk/">home</a></li>
				<li><a href="http://www.anime-kita.dk/forum/">forum</a></li>
				<li><a href="http://galleri.anime-kita.dk/">galleri</a></li>
				<li><a href="http://www.anime-kita.dk/intranet/">intranet</a></li>
			</ul>

			<div id="topUserNav">
				&nbsp;
			</div>

		</div>

		<div id="pageControls"></div>

		<div id="mid">
			<div id="midLeft">
				<div id="kitaKanji"></div>
			</div>

			<div id="midContent">
				<h1 class="title">500 - Der er sket en fejl</h1>

				<p>Der er desværre sket en fejl under behandlingen af din forespørgelse. Der er blevet sendt en fejl-rapport til sidens administrator. Har du behov for det kan du kontakte os gennem <a href="mailto:kontakt@anime-kita.dk">kontakt@anime-kita.dk</a>.</p>
			</div>
		</div>

		<div id="footerFix"></div>
	</div>

	<div id="footer">
		<!-- This is why ... -->
		<span>Anime Kita, 2007-2010 &copy; All rights reserved</span
		><span class="vertSeperatorMedium">|</span
		<a href="http://www.anime-kita.dk/om-os/kontakt/">Kontakt</a
		><span class="vertSeperatorMedium">|</span
		><a href="http://www.anime-kita.dk/databehandlingspolitik/">Databehandlingspolitik</a>
	</div>

</body>
</html>