{% extends "wide-site.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Se events' 'gallery_create_collection' %}
{% endblock %}

{% block pageControls %}
<ul>
	{% if pems.gallery.add_collection %}
    <li><a href="{% url gallery_create_collection %}">Tilføj Arrangement</a>
	{% endif %}

	{% if pems.gallery.add_photographer %}
	<li><a href="{% url gallery_create_photographer %}">Tilføj Fotograf</a>
	{% endif %}
</ul>
{% endblock %}

{% block contenthead %}<h1 class="title">Galleri</h1>{% endblock %}

{% block content %}

{% for collection in collections %}

<div class="collection">
	<a href="{% url gallery_view_collection collection.slug %}">
	{% if collection.picture_set.all %}
	<img src="{{collection.picture_set.all.0.original.url}}" />
	{% else %}
	<i>Ingen billeder endnu</i>
	{% endif %}
	</a>
	<span><a href="{% url gallery_view_collection collection.slug %}">{{collection.name}}</a></span>
</div>

{% endfor %}

{% endblock %}