{% extends "wide-site.html" %}
{% load thumbnail %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Se arrangementer' 'gallery_create_collection' %}
{% endblock %}

{% block pageControls %}
<ul>
	{% if perms.gallery.add_collection %}
    <li><a href="{% url gallery_create_collection %}">Tilføj Arrangement</a>
	{% endif %}

	{% if perms.gallery.add_photographer %}
	<li><a href="{% url gallery_create_photographer %}">Tilføj Fotograf</a>
	{% endif %}
</ul>
{% endblock %}

{% block contenthead %}<h1 class="title">Galleri</h1>{% endblock %}

{% block content %}

{% for collection in collections %}

<div class="collection">
	<a href="{% url gallery_view_collection collection.slug %}">
	{% ifequal collection.picture_set.all.count 0 %}
		<i>Ingen billeder endnu</i>
	{% else %}
		<img src="{{ collection.picture_set.all.0.original.extra_thumbnails.small }}" alt="{{collection.name|safe}}" />
	{% endifequal %}
	</a>
	<span><a href="{% url gallery_view_collection collection.slug %}">{{collection.name}}</a></span>
</div>

{% endfor %}

{% endblock %}