{% extends "wide-site.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb collection.name 'gallery_view_collection' collection.slug %}
{% endblock %}

{% block pageControls %}
<ul>
    {% if pems.gallery.add_picture %}
    <li><a href="{% url gallery_upload_images collection_slug=collection.slug %}">Upload billeder</a></li>
    {% endif %}

    {% if pems.gallery.change_collection %}
    <li><a href="{% url gallery_edit_collection collection.pk %}">Rediger</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block contenthead %}<h1 class="title">{{collection.name}}</h1>{% endblock %}

{% block content %}

{% include "gallery/parts/collection_description.html" %}

{% url gallery_view_collection collection.slug page.previous_page_number as url_previous %}
{% url gallery_view_collection collection.slug page.next_page_number as url_next %}

{% include "gallery/parts/controls.html" %}


<div class="collection-images">

    {% for picture in page.object_list %}
    <a href="{% url gallery_view_collection_picture picture_id=picture.pk collection_slug=collection.slug %}#images">
      <img src="{{picture.original.extra_thumbnails.small}}" />
    </a>
    {% endfor %}

</div>

{% endblock %}