{% extends "gallery/view_collection.html" %}

{% comment %}
{% block extraheader %}
{{block.super}}
	<script src="{{ MEDIA_URL }}js/jquery.min.1.4.2.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/jquery.ba-bbq.min.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/ahpi.imgload.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/gallery.js?v.0.4" type="text/javascript"></script>
{% endblock %}
{% endcomment %}

{% url gallery_view_collection_picture picture_id=picture.pk collection_slug=collection.slug as picture_url %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb breadcrumb picture_url %}
{% endblock %}

{% block pageControls %}{% endblock %}

{% block contenthead %}<h1 class="title">{{picture.collection.name|safe}}</h1>{% endblock %}

{% block content %}

{% url gallery_view_collection_picture picture_id=prev_picture collection_slug=collection.slug as url_previous %}
{% url gallery_view_collection_picture picture_id=next_picture collection_slug=collection.slug as url_next %}

{% include "gallery/parts/image_controls.html" %}

{% include "gallery/parts/image.html" %}

{% endblock %}