{% extends "narrow-site.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb 'Tilføj fotograf' 'gallery_create_photographer' %}
{% endblock %}

{% block contenthead %}Tilføj fotograf{% endblock %}

{% block content %}

<p>Tilknyttes denne fotograf en bruger får denne bruger tilladelse til at uploade billeder til siden samt redigerer sit eget fotograf navn og beskrivelse.</p>

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% endblock %}