{% extends "narrow-site.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb collection.name 'gallery_view_collection' collection.slug %}
    {% add_crumb 'Rediger arrangement' 'gallery_edit_collection' collection.pk %}
{% endblock %}

{% block contenthead %}Rediger arrangement{% endblock %}

{% block content %}

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% endblock %}