{% extends "narrow-site.html" %}
{% load uni_form_tags %}

{% block extraheader %}
{% include "form_includes.html" %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb "Fotografer" %}
    {% add_crumb photographer.name 'gallery_view_photographer' photographer.slug %}
    {% add_crumb 'Rediger' 'gallery_edit_photographer' photographer.slug %}
{% endblock %}

{% block contenthead %}Rediger fotograf{% endblock %}

{% block content %}

{% with form.helper as helper %}
    {% uni_form form helper %}
{% endwith %}

{% endblock %}