{% extends "gallery/management/upload_images_step1.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb photographer.name %}
{% endblock %}

{% block extraheader %}
<link href="{{ MEDIA_URL }}uploadify/example/css/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ MEDIA_URL }}uploadify/example/scripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uploadify/example/scripts/swfobject.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uploadify/example/scripts/jquery.uploadify.v2.1.0.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$("#uploadify").uploadify({
		'uploader'       : '{{ MEDIA_URL }}/uploadify/uploadify.swf',
		'script'         : '{% url gallery_upload_images_callback collection.slug photographer.slug %}',
		'cancelImg'      : '{{ MEDIA_URL }}/uploadify/cancel.png',
		'folder'         : 'uploads',
		'queueID'        : 'fileQueue',
		'auto'           : true,
		'multi'          : true,
		'scriptData'     : {'sessionid': '{{sessionid}}'}
	});
});
</script>
{% endblock %}

{% block contenthead %}Upload billeder{% endblock %}

{% block content %}

<p class="warning">Du skal have flash installeret for at kunne uploade billeder til galleriet.</p>

<p>Du er nu ved at uploade billeder til arrangementet <b>{{collection.name}}</b>. Billederne vil blive markeret som at være taget af fotografen <b>{{photographer.name}}</b>.</p>

<p><a href="{% url gallery_view_collection collection.slug %}">Tryk her for at komme tilbage til arrangementet.</a></p>

<div id="fileQueue"></div>
<input type="file" name="uploadify" id="uploadify" />
<p><a href="javascript:jQuery('#uploadify').uploadifyClearQueue()">Cancel All Uploads</a></p>
{% endblock %}