{% if collection.description or collection.photographers %}

<div id="collection-info-text">
{% if collection.description %}
  <p>{{collection.description}}</p>
{% endif %}

{% if collection.photographers %}
  <p>{% ifequal collection.photographers.count 1 %}Fotograf: {% else %}Fotografer: {% endifequal %}
  {% for photographer in collection.photographers %}
    <a href="{% url gallery_view_photographer photographer.slug %}">{{photographer.name}}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  </p>
{% endif %}
</div>

{% endif %}